body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color_input{
    color: orange;
}
section{
    display: flex;
    
    margin-bottom: 150px;
}
.background-image{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.heading_section{
    width: 45%;
    padding: 0% 6%;

    
}
.heading_section img{
    width: 100%;
}

.heading_section p{
    color: rgba(46, 44, 42, 0.726);
    
}
.heading_section a{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange , red);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
 
.dream_scetion{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

